.modal-container {
  border-radius: 0.63rem;
  padding: 0.5rem;
  height: fit-content;
  width: fit-content;
  min-width: 150px;
  min-height: 200px;
  background-color: #1f1f1f;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  filter: drop-shadow(2px 4px 6px black);
}