@import "./components/header/header";
@import "./components/panels/panels";
@import "./components/input/input";
@import "./components/button/button";
@import "./components/navigation/navigation";
@import "./components/modal/modal";

@import "./pages/login/login";



body {
  overflow: hidden;
  background-color: #0A0A0A;
}
.flex-row {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.hide {
  display: none;
}
