@import "./components/reset/reset";
@import "./components/header/header";
@import "./components/panels/panels";
@import "./components/input/input";
@import "./components/button/button";
@import "./components/navigation/navigation";
@import "./components/modal/modal";
@import "./components/typewriter/typewriter";
@import "./pages/login/login";
@import "./pages/account/accounts";
@import "./pages/transactions/transactions";
@import "./pages/loading/loading";
html {
  font-size: 16px;
}

body {
  overflow: hidden;
  background-color: #0a0a0a;
}
.flex-row {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}
