.section-container {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  position: absolute;
}

.section-item {
  padding: 0;
  margin: 0;
  height: 100vh;
  transition: all 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-position: center;  
  background-size: cover;
  background-color: transparent;
  color: #fff;
}

.force-hide {
  height: 0 !important;
  opacity: 0 !important;
  box-shadow: none !important;
}
