@import "./components/panels/panels";
@import "./components/input/input";

@import "./pages/login/login";

body {
  overflow: hidden;
}

.flex-row {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}
