.modalBackground {
    width: 100vw;
    height: 100vh;
    top: 0;
    background-color:  rgba(0, 0, 0, 0.6);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;

    .modalBackgroundCon {
    display: flex;
    align-items: center;
    justify-content: center; 
    border-radius: 2rem;
    padding: 0.5rem;
    width: 530px;
    height: 380px;
    background-color: #1f1f1f;
    color: #000;
      filter: drop-shadow(2px 4px 6px black);
    }

    .modalContainer { 
    width: 500px;
    height: 350px;
    border-radius: 2rem;
    background-color: #ee2737;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
}
  
  .modalContainer .title {
    display: inline-block;
    text-align: center;
    margin-top: 10px;
    color: #e3e3e3;
    font-size: 24px;
  }
  
  .titleCloseBtn {
    display: flex;
    justify-content: flex-end;
  }
  
  .titleCloseBtn button {
    background-color: transparent;
    border: none;
    font-size: 25px;
    cursor: pointer;
    color: #e3e3e3;
  }
}