.dashboard {
  height: 80vh;
  .header {
    justify-content: space-between;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    letter-spacing: .2rem;
    border-bottom: 0.06rem solid #ccc;
  };

  .chart {
    gap: .2rem;
    height: 45%;
    justify-content: space-between;
    .chart-balance, .chart-expense{
      flex-basis: 50%;
      border: 1px solid #333;
      border-radius: 1rem;
      box-shadow: 0px 1px 5px 0px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 3px 1px -2px rgb(0 0 0 / 12%);
    }
  };
  
  .user-info {
    margin-top: 1rem;
    gap: .2rem;
    height: 45%;
    justify-content: space-between;

    .user-card, .user-info-balance {
      padding: 1rem;
      flex-basis: 50%;
      border: 1px solid #333;
      border-radius: 1rem;
      box-shadow: 0px 1px 5px 0px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 3px 1px -2px rgb(0 0 0 / 12%);
    };

    .user-balance {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.5rem;
      margin: 1rem 0;
      background-color: #3a3a3a;
      border-radius: 1rem;

      .amount {
        font-weight: bold;
        flex-basis: 20%;
        color: white;
        background-color: #ee2737;
        border: 1px solid white;
        padding: 0.5rem;
        border-radius: 12px;
        flex-basis: 20%;
        text-align: center;
      }
    }
  };
  

}