.shift-container {
  height: fit-content;
  min-height: 350px;
  width:650px;
  // background-color: olive;
  position:relative;
  overflow: hidden;
  // align-content: center;
  // justify-content: center;
  padding-left: 2rem;
  transition: all 0.3s;

  &::before {
    content: '<';
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 35px;
    z-index: 9999;
    left: -2rem;
    top: 0;
    display: flex;
    box-shadow: 0px 0px 50px 60px  #0c0c0c;
    background: var(--black);
  }
  
  &::after {
    content: '>';
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 35px;
    right: -2rem;
    top: 0;
    display: flex;
    z-index: 9999999;
    box-shadow: 0px 0px 50px 60px #0c0c0c;
    background: var(--black);
  }
}


.arrow-left {
  position: absolute;
  top: 50%;
  left: 0;   
  transition: all 0.5s;
  background-color: transparent;
  z-index: 999999999999999999999999;
  opacity: 0.8;
  &:hover {
    opacity: 1 !important;
    cursor: pointer;
  }
}

.arrow-right {
  position: absolute;
  top: 50%;
  right: 0;
  transition: all 0.5s; 
  background-color: transparent;
  z-index: 999999999999999999999999;
  opacity: 0.8;
  &:hover {
    opacity: 1 !important;
    cursor: pointer;
  }
}

.hide-carousel-item {
  width: 0 !important;
  margin:0 !important;
  padding:0 !important;
  font-size:0 !important;
  // opacity: 0 !important;
}

.carousel-div {
  transition: all 0.5s;
}